<style>
   img {
            width: 120px;
            height: 130px; 
            object-fit: contain ;
        }
</style>

<div class="jumbotron">
    <h1>Nuestro listado de productos</h1>
    <br>

    {{#if haveProducts}}
    <div class="table-responsive">
        <table class="table table-dark">
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Imágen</th>
                <th>Id producto</th>
            </tr>
            {{#each products}}
            <tr>
                <td class="text-info font-weight-bold">{{this.title}}</td>
                <td class="text-info font-weight-bold">${{this.price}}</td>
                <td><img src={{this.thumbnail}} alt={{this.title}}></td>
                <td class="text-info font-weight-bold">{{this.id}}</td>
            </tr>
            {{/each}}
        </table>
    </div>
    {{else}}
    <h3 class="alert alert-warning">No se encontraron productos</h3>
    {{/if}}
    <br>
    <a href="/" type="button" class="btn btn-primary">Volver al inicio</a>
    
