extends layouts/index.pug

block vista
    style.
        img {
            width: 120px;
            height: 130px; 
            object-fit: contain ;
        }
    div(class="jumbotron")
        h1='Nuestro listado de productos'
        br
        if haveProducts
            div(class="table-responsive")
                table(class="table table-dark")
                    tr
                        th='Nombre'
                        th='Precio'
                        th='Imágen'
                        th='Id Producto'
                        each product in products
                            tr
                                td(class='text-danger font-weight-bold')=product.title
                                td(class='text-danger font-weight-bold')=product.price
                                td
                                    img(src=product.thumbnail alt=product.title)
                                td(class='text-danger font-weight-bold')=product.id    
        else
            h3(class="alert alert-warning")='No se encontraron productos'
        br
        a(href="/" type="button" class="btn btn-primary")='Volver al inicio'
